body{
    background-color: #2F2E41;
    font-family: "JetBrains Mono", monospace;
}

h1{
    color: white;
}

h1 span{
    color: #00BFA6;
}

p{
    color:white;
}

ul {
    display:flex;
    list-style: none;
    gap: 64px;
    margin: 71px 876px 71px 350px;
}

